<div class="author">
    <div class="skill-card">
        <header class="skill-card__header">
            <img class="skill-card__icon" src="https://upload.wikimedia.org/wikipedia/commons/3/38/HTML5_Badge.svg" alt="HTML5 Logo"/>
        </header>
        <h1>test</h1>
    </div>
    <img class="author-avatar"
            src="{{ site.author.avatar }}"
            alt="{{ site.author.username }}" />
    <h2 class="author-name">{{ site.author.name }}</h2>
    <p class="author-bio">{{ site.author.bio }}</p>
</div>
