<!--<div class="author">
    <img class="author-avatar"
         src="{{ site.author.avatar }}"
         alt="{{ site.author.username }}" />
    <h2 class="author-name">{{ site.author.name }}</h2>
    <p class="author-bio">{{ site.author.bio }}</p>
</div>-->

<div layout="row" layout-xs="column" layout-sm="row" style="margin-top: 30px" layout-align="space-around center">
    <div flex-xs="100" flex-sm="50" flex-md="33" style="min-width: 270px;max-width: 270px" layout="row" layout-align="center">
        <div class="skill-card">
            <header class="skill-card__header">
                <img class="skill-card__icon" src="/assets/img/integration.png" alt="integration Logo" />
            </header>
            <div class="skill-card__body">
                <h2 class="skill-card__title">Integration</h2>
                <div class="skill-card__vertical">
                    <div class="skill-card__vertical_child">
                        <span class="skill-card__duration">Low code & High code</span>
                        <br />
                        <span class="skill-card__duration">Front-end & Back-end</span>
                    </div>
                    <div class="skill-card__vertical_child" style="width: 100%; text-align: center">
                        <md-button class="md-raised md-primary">Projects</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div flex-xs="100" flex-sm="50" flex-md="33" style="min-width: 270px;max-width: 270px" layout="row" layout-align="center">
        <div class="skill-card">
            <header class="skill-card__header">
                <img class="skill-card__icon" src="https://upload.wikimedia.org/wikipedia/commons/3/38/HTML5_Badge.svg" alt="HTML5 Logo" />
            </header>
            <div class="skill-card__body">
                <h2 class="skill-card__title">Audio</h2>
                <div class="skill-card__vertical">
                    <div class="skill-card__vertical_child">
                        <span class="skill-card__duration">Mixing</span>
                        <br />
                        <span class="skill-card__duration">Mastering</span>
                    </div>
                    <div class="skill-card__vertical_child" style="width: 100%; text-align: center">
                        <button class="material-btn raised tonal">Recordings</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div flex-xs="100" flex-sm="50" flex-md="33" style="min-width: 270px;max-width: 270px" layout="row" layout-align="center">
        <div class="skill-card">
            <header class="skill-card__header">
                <img class="skill-card__icon" src="https://upload.wikimedia.org/wikipedia/commons/3/38/HTML5_Badge.svg" alt="HTML5 Logo" />
            </header>
            <div class="skill-card__body">
                <h2 class="skill-card__title">230 volts</h2>
                <div class="skill-card__vertical">
                    <div class="skill-card__vertical_child">
                        <span class="skill-card__duration">Electro installation</span>
                        <br />
                        <span class="skill-card__duration">Home renovation</span>

                    </div>
                    <div class="skill-card__vertical_child" style="width: 100%; text-align: center">
                        <button class="material-btn raised tonal">Examples</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="flex-container">

    <div class="skill-card">
        <header class="skill-card__header">
            <img class="skill-card__icon" src="https://upload.wikimedia.org/wikipedia/commons/3/38/HTML5_Badge.svg" alt="HTML5 Logo" />
        </header>
        <div class="skill-card__body">
            <h2 class="skill-card__title">Smart-home</h2>
            <div class="skill-card__vertical">
                <div class="skill-card__vertical_child">
                    <span class="skill-card__duration">Home assistent</span>
                    <br />
                    <span class="skill-card__duration">Zigbee</span>
                </div>
                <div class="skill-card__vertical_child" style="width: 100%; text-align: center">
                    <button class="material-btn raised tonal">Setup</button>
                </div>
            </div>
        </div>
    </div>
</div>
