<footer class="footer" data-ng-controller="footerCtrl">
    <small class="footer_copyright">
        <span class="angular-load angular-loaded">
            <a href="https://brokengdnb.github.io/upptime/"><img alt="All-time uptime" src="https://img.shields.io/endpoint?url=https%3A%2F%2Fraw.githubusercontent.com%2Fbrokengdnb%2Fupptime%2FHEAD%2Fapi%2Fhome-page%2Fuptime.json"></a><br />
            <a href="https://brokengdnb.github.io/upptime/history/home-page"><img alt="Response time" src="https://img.shields.io/endpoint?url=https%3A%2F%2Fraw.githubusercontent.com%2Fbrokengdnb%2Fupptime%2FHEAD%2Fapi%2Fhome-page%2Fresponse-time.json"></a><br />
            deployed [[ buildAt ]]<br />
            under [[ license ]]<br />
            <div layout="row" layout-align="center">
                <span class="footer_item">&copy; {{ site.time | date: "%Y" }}</span>
                <div style="margin-left: 4px;padding-top:3px">
                    <a class="menu-link rss" href="/feed.xml">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="17"
                             height="17"
                             viewBox="0 0 512 512"
                             fill="#ED812E">
                            <title>RSS</title>
                            <path d="M108.56,342.78a60.34,60.34,0,1,0,60.56,60.44A60.63,60.63,0,0,0,108.56,342.78Z" />
                            <path d="M48,186.67v86.55c52,0,101.94,15.39,138.67,52.11s52,86.56,52,138.67h86.66C325.33,312.44,199.67,186.67,48,186.67Z" />
                            <path d="M48,48v86.56c185.25,0,329.22,144.08,329.22,329.44H464C464,234.66,277.67,48,48,48Z" />
                        </svg>
                    </a>
                </div>
            </div>

</small>
</footer>
<script src="/assets/js/main.js" defer="defer"></script>

<script type="text/javascript" src="/assets/js/angular.min.js"></script>
<script type="text/javascript" src="/assets/js/angular-aria.min.js"></script>
<script type="text/javascript" src="/assets/js/angular-animate.min.js"></script>
<script type="text/javascript" src="/assets/js/angular-messages.min.js"></script>
<script type="text/javascript" src="/assets/js/angular-load.min.js"></script>
<script type="text/javascript" src="/assets/js/angular-material.min.js"></script>
<script type="text/javascript" src="/assets/js/loading-bar.min.js"></script>

<script type="text/javascript" src="/assets/js/moment.min.js"></script>
<script type="text/javascript" src="/assets/js/angular-moment.min.js"></script>

<script>
    let myApp = angular.module('myApp', ['ngMaterial', 'ngMessages', 'angularMoment', 'ngLoad', 'angular-loading-bar'], function ($interpolateProvider) {
        $interpolateProvider.startSymbol('[[');
        $interpolateProvider.endSymbol(']]');
    })
</script>

<script>
    myApp.controller('footerCtrl', ['$scope', 'moment', '$http', function ($scope, moment, $http) {
        $http.get('https://api.github.com/users/brokengdnb/repos', {}).
            then(function (response) {
                let repo = response.data.filter(el => el.name === "jekyll-test")[0];
                $scope.buildAt = moment(repo.pushed_at).fromNow();
                $scope.license = repo.license.name;
            }, function (error) {
                console.log(error);
            });
        angular.element(function () {
            let elems = document.getElementsByClassName("angular-loaded");

            for (let i = 0; i < elems.length; i++) {
                elems[i].classList.remove("angular-loaded");
            }
        });
    }]).config(['$locationProvider', function($locationProvider) {
        $locationProvider.hashPrefix('');
    }]).config(['cfpLoadingBarProvider', function(cfpLoadingBarProvider) {
        cfpLoadingBarProvider.latencyThreshold = 100;
    }]).directive('focusMe', function($timeout) {
        return {
            scope: { trigger: '@focusMe' },
            link: function(scope, element) {
                scope.$watch('trigger', function(value) {
                    if(value === "true") {
                        $timeout(function() {
                            element[0].focus();
                        });
                    }
                });
            }
        };
    });
</script>
{%- if site.google_analytics -%}
<!-- Google tag (gtag.js) -->
<script async
        src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "{{ site.google_analytics }}");
</script>
{%- endif -%}
{%- if page.url == '/archive/' -%}
<script src="/assets/js/search.min.js"></script>
<script>
    var sjs = SimpleJekyllSearch({
        searchInput: document.getElementById('search-input'),
        resultsContainer: document.getElementById('search-results'),
        json: '/assets/search.json',
    });
</script>
{%- endif -%}