// Fonts preferences
$sans-family: Roboto, sans-serif;
$mono-family: Consolas, monospace;
$base-font-size: 18px;
$medium-font-size: $base-font-size * 0.938;
$small-font-size: $base-font-size * 0.8;
$base-line-height: 1.85;

// Font weight
// $light-weight: 300; // uncomment if necessary
$normal-weight: 400;
$bold-weight: 700;
// $black-weight: 900; // uncomment if necessary

//Light Colors
$text-base-color: #434648;
$text-link-blue: #003fff;
$text-link-blue-active: #0036c7;

$black: #0d122b;
$light: #ececec;
$smoke: #d2c7c7;
$gray: #6b7886;
$white: #fff;

// Dark Colors
$dark-text-base-color: #c7bebe;
$dark-text-link-blue: #ff5277;
$dark-text-link-blue-active: #ff2957;

$dark-black: #131418;
$dark-white: #eaeaea;
$dark-light: #1b1d25;
$dark-smoke: #4a4d56;
$dark-gray: #767f87;

// Width of the content area
$wide-size: 980px;
$narrow-size: 720px;

// Padding unit
$spacing-full: 30px;
$spacing-half: $spacing-full / 2;

// State of devices
$on-mobile: 768px;
$on-tablet: 769px;
$on-desktop: 1024px;
$on-widescreen: 1152px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import sass files
@import "klise/fonts", "klise/base", "klise/layout", "klise/post",
  "klise/miscellaneous", "klise/syntax", "klise/dark";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600');
@import url('https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.2.5/angular-material.min.css');

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    overflow-y: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.skill-card {
    padding: 20px;
    width: 15em;
    background-color: #FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    /*    cursor: pointer;*/
    transition: box-shadow ease 0.5s;
    margin-bottom: 30px;

    &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
        .skill-card__header {
            height: 40px;

            .skill-card__icon {
                transform: translateX(-50%) translateY(-50%) scale(1.5);
            }
        }

        .skill-card__body {
            height: 170px;

            .skill-card__knowledge {
                li {
                    transform: translateX(0);
                    transition-timing-function: cubic-bezier(0, 1.5, 1, 1);
                    transition-duration: .5s;

                    @for $i from 1 through 6 {
                        &:nth-child(#{$i}) {
                            transition-delay: $i * .25s;
                        }
                    }
                }
            }
        }
    }

    .skill-card__header {
        position: relative;
        background-color: lighten(#E95A28, 5);
        height: 170px;
        margin: -20px -20px 20px -20px;
        transition: height .5s;
        overflow: hidden;

        .skill-card__icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            display: block;
            width: 128px;
            height: 128px;
            transition: transform .5s;
        }
    }

    .skill-card__body {
        height: 40px;
        transition: height .5s;
        overflow: hidden;

        .skill-card__vertical {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            height: 120px;
        }

        .skill-card__title {
            font-size: 1.4em;
            font-weight: 600;
            font-family: "Open Sans", sans-serif;
            font-size: 33px;
            color: #000;
            text-transform: uppercase;
            margin-top: -10px;
            margin-bottom: 0;
            text-align: center;
        }

        .skill-card__duration {
            color: #9E9E9E;
            /*font-style: italic;*/
        }

        .skill-card__knowledge {
            margin-top: 10px;
            color: #424242;

            li {
                margin-top: 5px;
                transition-duration: 0;
                transition-delay: .5s;
                transform: translateX(-100%);
            }
        }
    }
}
 
/* 
    Material Buttons:
        https://codepen.io/graphilla/pen/eYVGzeQ 

*/

:root {
    --shadow-color: 0deg 0% 40%;
    --shadow-elevation-low: 0.2px 0.3px 0.4px hsl(var(--shadow-color) / 0.34), 0.3px 0.8px 1px -1px hsl(var(--shadow-color) / 0.34), 0.7px 3px 2px -1px hsl(var(--shadow-color) / 0.34);
    --shadow-elevation-medium: 0.2px 0.3px 0.4px hsl(var(--shadow-color) / 0.36), 0.6px 1.1px 1.4px -0.8px hsl(var(--shadow-color) / 0.36), 1.4px 2.8px 3.5px -1.7px hsl(var(--shadow-color) / 0.36), 3.4px 6.9px 8.7px -2.5px hsl(var(--shadow-color) / 0.36);
    --accent: rgba(98, 0, 238, 1);
    --accent-contrast: rgba(255,255,255,1);
    --accent-tone-1: rgba(98, 0, 238, .1);
    --accent-tone-2: rgba(98, 0, 238, .2);
    --accent-tone-3: rgba(98, 0, 238, .3);
    --accent-tone-4: rgba(98, 0, 238, .4);
    --accent-tone-5: rgba(98, 0, 238, .5);
    --accent-tone-6: rgba(98, 0, 238, .6);
    --accent-tone-7: rgba(98, 0, 238, .7);
    --accent-tone-8: rgba(98, 0, 238, .8);
    --accent-tone-9: rgba(98, 0, 238, .9);
}

.material-btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    min-height: 44px;
    min-width: 44px;
    padding: 0 26px;
    margin: 5px;
    border-radius: 22px;
    background: none;
    color: var(--accent);
    overflow: hidden;
    cursor: pointer;
    transition: all .15s ease;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1;
}

.material-btn:hover,
.material-btn:focus {
    background-color: var(--accent-tone-1);
}

.material-btn::before {
    background-color: var(--accent);
}

.material-btn:focus-visible {
    outline: 4px solid blue;
    outline-offset: 3px;
}

.material-btn + .material-btn {
    margin-left: 10px;
}

/* 
	Outline
*/

.outline {
    border-color: var(--accent);
}

/* 
	Filled
*/

.filled {
    background: var(--accent);
    color: var(--accent-contrast);
}

.filled:hover,
.filled:focus {
    background-color: var(--accent-tone-8);
}

.filled::before {
    background-color: var(--accent-contrast);
}

/* 
	Tonal
*/

.tonal {
    background-color: var(--accent-tone-1);
    color: var(--accent);
}

.tonal::before {
    background-color: var(--accent);
}

.tonal:hover,
.tonal:focus {
    background-color: var(--accent-tone-2);
}

/* 
	Raised
*/

.raised {
    box-shadow: var(--shadow-elevation-low);
}

.raised:hover,
.raised:focus {
    box-shadow: var(--shadow-elevation-medium);
}

.raised:active {
    box-shadow: none;
}

/* 
	Icon
*/

.material-icon {
    padding: 0;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}

/* 
	Ripple effect
*/

.ripple::before {
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: 200%;
    border-radius: 50%;
    opacity: 0.25;
    aspect-ratio: 1;
    transform: translate(-50%, -50%) scale(0);
    transform-origin: center center;
    animation: ripples .45s ease-out;
}

@keyframes ripples {
    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }
}